/*external css*/
/*
h1{
    font-size: 80px;
    color: blueviolet;
}
body{
    background-color: antiquewhite;
}
.heading1{
    text-decoration: underline;
}
img{
    height:500px;
    width: 100%;
}
*/
*{
    margin: 0;
    padding: 0;


}
body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;

}
header{
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}

nav{
    margin-top: 20px;
}

nav ul{
    list-style: none;
    text-align: center;
}



nav ul li{
      display: inline;
      margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 25px;
}

section{ 
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.projects{
    display: flex;
}

.project{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project img{
    width: 200px;
    height: 200px;
}